body {
    font: 10px sans-serif;
}

div {
    padding-top: 15px;
    font-size: 10px;
}
h3 {
    font-size:14px;
}
ul {
    font-family: Arial, sans-serif;
    font-size:12px;
}
.axis path,
.axis line {
    fill: none;

    stroke:#b6b6b6;
    shape-rendering: crispEdges;
}
.tick text{
    fill:#999;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke-width: 1.5px;
}
#applications {
     padding: 20px;
 }
#graphTitle {
    text-align:center;
}